@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background-color: rgb(236, 252, 253);
  font-family: 'Open Sans', sans-serif;
}

section {
  margin-bottom: 1rem;
}

.btn-container {
  text-align: right;
}

h1 {
  margin: 2rem;
  text-align: center;
}

form {
  margin: auto;
  padding: 1rem;
  width: 40rem;
  background-color: rgb(246, 250, 255);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  display: block;
  color: rgb(66, 76, 97);
  margin: 0.5rem 0;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(152, 159, 184);
  box-sizing: border-box;
  font: inherit;
}

input:focus,
textarea:focus,
select:focus {
  background-color: rgb(217, 227, 247);
}

textarea {
  resize: none;
}

.form-control-inline {
  display: flex;
}

.form-control-inline label {
  margin: 0;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn-empty {
  background-color: transparent;
  color: rgb(51, 67, 100);
}

.btn-filled {
  background-color: rgb(51, 67, 100);
  color: white;
}

.btn-empty:hover {
  background-color: rgb(208, 215, 230);
}

.btn-filled:hover {
  border-color: rgb(69, 89, 129);
  background-color: rgb(69, 89, 129);
}
